Repository fandango-fuzzer/fandango: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy

black:
  name: black
  entry: black .
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system

fix: partial fix for tar
  evaluation/vs_isla/tar_evaluation/tar.fan
Due: none

stash for valentin
  evaluation/vs_isla/run_evaluation.py
  evaluation/vs_isla/tar_evaluation/tar.fan
Due: black

Fix all of Pepe's problems
  evaluation/vs_isla/tar_evaluation/tar.fan
  src/fandango/language/tree.py
Due: black, mypy

feat: evaluation now part of tests
  Makefile
  evaluation/vs_isla/run_evaluation.py
  tests/test_evaluation.py
Due: black, mypy

fix: add docutils to dependencies
  pyproject.toml
Due: none

Fixed failing parser test
  src/fandango/language/symbol/terminal.py
Due: black, mypy

Added test for bit parsing with a bit count not dividable by 8
  src/fandango/language/grammar.py
  tests/resources/bit_special.fan
  tests/test_parsing.py
Due: black, mypy

run black
  src/fandango/evolution/algorithm.py
  src/fandango/io/__init__.py
  src/fandango/io/packetparser.py
  src/fandango/language/grammar.py
Due: black, mypy

test
  tests/test_cli.py
Due: black, mypy

Better error message in packet parser.
  src/fandango/io/packetparser.py
Due: black, mypy

Fixed bug in forecaster
  src/fandango/io/packetforecaster.py
  src/fandango/io/packetparser.py
  src/fandango/language/grammar.py
  tests/resources/forecaster.fan
  tests/test_cli.py
  tests/test_forecaster.py
Due: black, mypy

better consume
  src/fandango/io/packetforecaster.py
  src/fandango/language/grammar.py
Due: black, mypy

fix: add missing dependency
  pyproject.toml
Due: none

mypy
  src/fandango/language/grammar.py
Due: black, mypy

Improve env handling for vscode test runner
  .gitignore
  .vscode/settings.json
Due: none

Fix types
  src/fandango/api.py
  src/fandango/beartype.py
Due: black, mypy

More types
  src/fandango/language/grammar.py
  src/fandango/language/parse.py
Due: black, mypy

More fun with types
  .vscode/settings.json
  src/fandango/api.py
  src/fandango/language/grammar.py
  tests/test_api.py
  tests/test_optimizer.py
Due: black, mypy

Minor changes according to review by @joszamama
  docs/DerivationTree.md
  dummy.fan
  evaluation/experiments/dns/dns.fan
  evaluation/experiments/dune/test.py
  evaluation/experiments/simple_io/simple_io.py
  evaluation/experiments/ssl/ssl_experiment.py
  evaluation/experiments/three_party_io/3_party_io.py
  src/fandango/constraints/base.py
  src/fandango/constraints/fitness.py
  src/fandango/constraints/predicates.py
  src/fandango/evolution/mutation.py
  src/fandango/evolution/population.py
  src/fandango/io/packetforecaster.py
  src/fandango/language/__init__.py
  src/fandango/language/convert.py
  src/fandango/language/grammar.py
  src/fandango/language/parse.py
  src/fandango/language/search.py
  src/fandango/language/symbol/__init__.py
  src/fandango/language/symbols/__init__.py
  src/fandango/language/symbols/non_terminal.py
  src/fandango/language/symbols/slice.py
  src/fandango/language/symbols/symbol.py
  src/fandango/language/symbols/terminal.py
  src/fandango/language/tree.py
  tests/conftest.py
  tests/test_constraints.py
  tests/test_forecaster.py
  tests/test_fstrings.py
  tests/test_grammar.py
  tests/test_language.py
  tests/test_parsing.py
  tests/test_searches.py
  tests/test_slices.py
  tests/test_star.py
Due: black, mypy

Path conditions:
  black: any of: ^(src|tests|evaluation).*\.py$, but not: (?x)^(
    src/fandango/language/parser/Parser.*\.py|
    src/fandango/language/parser/sa_fandango\.py|
    src/fandango/converters/antlr/ANTLRv4.*\.py
)$

  mypy: any of: ^(src|tests).*\.py$, but not: (?x)^(
    src/fandango/language/parser/Parser.*\.py|
    src/fandango/language/parser/sa_fandango\.py|
    src/fandango/converters/antlr/ANTLRv4.*\.py
)$

