Repository fandango-fuzzer/fandango: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: black
        name: black
        entry: black .
        language: system
        files: ^(src|tests|evaluation).*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/Parser.*\.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$
-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        files: ^(src|tests).*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/Parser.*\.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$
        entry: mypy
        language: system

Coverage can guide to end the current derivation if symbol not reachable
  src/fandango/evolution/algorithm.py
  src/fandango/language/symbols/symbol.py
Due: black, mypy

wrote method to find best guide_to_end nonterminal
  src/fandango/evolution/algorithm.py
  src/fandango/io/io_utils.py
Due: black, mypy

moved packet selection into separate method
  src/fandango/evolution/algorithm.py
  src/fandango/io/io_utils.py
  src/fandango/io/navigation/grammarreducer.py
  src/fandango/io/navigation/packetforecaster.py
  src/fandango/io/navigation/packetnavigator.py
  src/fandango/io/navigation/reachability_checker.py
  src/fandango/io/navigation/visitor/continuing_nodevisitor.py
  src/fandango/language/grammar/grammar.py
Due: black, mypy

quicksave
  src/fandango/evolution/population.py
  src/fandango/io/io_utils.py
  src/fandango/language/grammar/nodes/alternative.py
  src/fandango/language/grammar/nodes/char_set.py
  src/fandango/language/grammar/nodes/concatenation.py
  src/fandango/language/grammar/nodes/node.py
  src/fandango/language/grammar/nodes/non_terminal.py
  src/fandango/language/grammar/nodes/repetition.py
Due: black, mypy

Refactor cli module into more files
  src/fandango/cli/__init__.py
  src/fandango/cli/commands.py
  src/fandango/cli/complete.py
  src/fandango/cli/output.py
  src/fandango/cli/parser.py
  src/fandango/cli/shell.py
  src/fandango/cli/suggestions.txt
  src/fandango/cli/utils.py
Due: black, mypy

Fix imports
  src/fandango/cli/commands.py
  src/fandango/cli/utils.py
Due: black, mypy

extract k-path from tree now actually extracts the k-paths
  src/fandango/io/packetparser.py
  src/fandango/language/grammar/grammar.py
  src/fandango/language/grammar/nodes/non_terminal.py
  src/fandango/language/grammar/nodes/repetition.py
Due: black, mypy

extract k-path from tree now actually extracts the k-paths
  evaluation/experiments/smtp/smtp.fan
Due: none

fixed packets not collapsing while parsing packets
  src/fandango/io/packetparser.py
Due: black, mypy

Run mypy on all files
  .github/workflows/code-checks.yml
Due: none

Install correct target for mypy in CI
  .github/workflows/code-checks.yml
Due: none

Improve mypy whitelist and adjust dependency target to install
  .github/workflows/code-checks.yml
  pyproject.toml
Due: none

Remove verbosity from mypy in the CI
  .github/workflows/code-checks.yml
Due: none

Also run mypy on evaluation
  .github/workflows/code-checks.yml
  .pre-commit-config.yaml
  evaluation/experiments/chatgpt/gpt_novel.py
  evaluation/experiments/coverage/gif_experiment.py
  evaluation/experiments/dns/dns.py
  evaluation/experiments/dune/dune.py
  evaluation/experiments/dune/test.py
  evaluation/experiments/faker/faker_experiment.py
  evaluation/experiments/ftp/ftp.py
  evaluation/experiments/generator_params/generator_params.py
  evaluation/experiments/gif/gif_experiment.py
  evaluation/experiments/grep/grep.py
  evaluation/experiments/hash/hash_experiment.py
  evaluation/experiments/pixels/pixels_experiment.py
  evaluation/experiments/smtp/smtp.py
  evaluation/experiments/ssl/ssl_experiment.py
  evaluation/experiments/standardIO/std.py
  evaluation/experiments/three_party_io/flask_server_b.py
  evaluation/experiments/transactions/transactions_experiment.py
  evaluation/experiments/voltage/voltage_experiment.py
  evaluation/experiments/whitebox/whitebox_experiment.py
  evaluation/vs_isla/csv_evaluation/csv_evaluation.py
  evaluation/vs_isla/rest_evaluation/rest_evaluation.py
  evaluation/vs_isla/run_evaluation.py
  evaluation/vs_isla/scriptsizec_evaluation/scriptsizec_evaluation.py
  evaluation/vs_isla/tar_evaluation/tar_evaluation.py
  evaluation/vs_isla/xml_evaluation/xml_evaluation.py
  pyproject.toml
Due: black

Improve exception handling
  src/fandango/cli/shell.py
  src/fandango/evolution/algorithm.py
  src/fandango/evolution/evaluation.py
  src/fandango/language/grammar/grammar.py
  src/fandango/language/parse.py
  src/fandango/language/symbols/symbol.py
  src/fandango/logger.py
  tests/conftest.py
Due: black, mypy

Also run mypy on evaluation
  .github/workflows/code-checks.yml
  .pre-commit-config.yaml
  evaluation/csv/csv_evaluation.py
  evaluation/rest/rest_evaluation.py
  evaluation/run_evaluation.py
  evaluation/scriptsizec/scriptsizec_evaluation.py
  evaluation/tar/tar_evaluation.py
  evaluation/xml/xml_evaluation.py
  pyproject.toml
Due: black

Run black on the root directory
  .github/workflows/code-checks.yml
Due: none

Add more dependencies
  pyproject.toml
Due: none

Run mypy on eeeeverythign
  .github/workflows/code-checks.yml
  docs/Tree.py
  setup.py
Due: none
