Repository fandango-fuzzer/fandango: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: black
        name: black
        entry: black .
        language: system
        files: ^(src|tests|evaluation)
-   repo: local
    hooks:
    - id: mypy
      name: mypy
      files: (src|tests).*\.py$
      entry: bash -c "git diff --cached --name-only --diff-filter=ACMR | grep -E '(src|tests).*\.py$' | xargs mypy"
      language: system

mypy works locally but not on github
  src/fandango/cli/__init__.py
Due: black, mypy

updated mypy to skip parser files
  .github/workflows/code-checks.yml
Due: none

updated workflow to include coverage
  .github/workflows/python-tests.yml
Due: none

changed utils to .utils
  .github/workflows/python-tests.yml
  tests/test_api.py
  tests/test_cli.py
  tests/test_constraints.py
  tests/test_convert.py
  tests/test_fan_parsers.py
  tests/test_grammar.py
  tests/test_language.py
  tests/test_msg_exchange.py
  tests/test_optimizer.py
  tests/test_parsing.py
  tests/test_slices.py
  tests/test_softconstraint.py
  tests/test_star.py
  tests/test_visitor.py
Due: black, mypy

updated workflow
  .coveragerc
  .github/workflows/python-tests.yml
  .gitignore
  Makefile
  src/fandango/constraints/fitness.py
  src/fandango/language/grammar.py
  tests/test_parsing.py
Due: black, mypy

updated grammar
  src/fandango/language/grammar.py
  src/fandango/language/tree.py
Due: black, mypy

Update with `fandango talk`
  docs/Outputs.md
Due: none

New: "make stats" shows statistics
  Makefile
Due: none

Black
  evaluation/experiments/smtp/smtp.py
Due: black

Fix: `--validate` only compares the (string) values of the derivation trees, not their structure (this can differ between production and parsing) New: improved diagnostics for `--validate`
  src/fandango/cli/__init__.py
Due: black, mypy

Black
  src/fandango/cli/__init__.py
Due: black, mypy

Added missing semicolon
  language/FandangoLexer.g4
Due: none

New: have grammars follow Python parenthesis rules
  language/FandangoParser.g4
  src/fandango/language/cpp_parser/FandangoLexerBase.cpp
  src/fandango/language/cpp_parser/FandangoParser.cpp
  src/fandango/language/cpp_parser/FandangoParser.h
  src/fandango/language/cpp_parser/FandangoParser.interp
  src/fandango/language/cpp_parser/FandangoParserBaseVisitor.h
  src/fandango/language/cpp_parser/FandangoParserVisitor.h
  src/fandango/language/cpp_parser/sa_fandango_translator.cpp
  src/fandango/language/cpp_parser/sa_fandango_translator.h
  src/fandango/language/parser/FandangoLexerBase.py
  src/fandango/language/parser/FandangoParser.interp
  src/fandango/language/parser/FandangoParser.py
  src/fandango/language/parser/FandangoParserListener.py
  src/fandango/language/parser/FandangoParserVisitor.py
  tests/resources/example_number.fan
  tests/resources/fandango.fan
  tests/resources/indent.fan
Due: black, mypy

Indentation works with Python parser, but not with C++ parser
  language/FandangoParser.g4
  src/fandango/language/cpp_parser/FandangoLexerBase.cpp
  src/fandango/language/cpp_parser/FandangoParser.cpp
  src/fandango/language/cpp_parser/FandangoParser.h
  src/fandango/language/cpp_parser/FandangoParser.interp
  src/fandango/language/cpp_parser/FandangoParserBaseVisitor.h
  src/fandango/language/cpp_parser/FandangoParserVisitor.h
  src/fandango/language/cpp_parser/sa_fandango_translator.cpp
  src/fandango/language/cpp_parser/sa_fandango_translator.h
  src/fandango/language/parser/FandangoParser.interp
  src/fandango/language/parser/FandangoParser.py
  src/fandango/language/parser/FandangoParserListener.py
  src/fandango/language/parser/FandangoParserVisitor.py
Due: black, mypy

Turned off debugging output
  src/fandango/language/cpp_parser/FandangoLexerBase.cpp
  src/fandango/language/parser/FandangoLexerBase.py
Due: black, mypy

Adjusted to new syntax
  tests/test_constraints.py
  tests/test_language.py
Due: black, mypy

Made mypy happy
  src/fandango/language/parser/FandangoLexerBase.py
Due: black, mypy

Do not issue "<DEDENT>" in error messages
  src/fandango/language/parser/FandangoLexerBase.py
Due: black, mypy

Trying to exclude generated parser files from mypy check
  src/fandango/language/parser/mypy.ini
Due: black
