Repository fandango-fuzzer/fandango: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy

black:
  name: black
  entry: black .
  language: system

mypy:
  name: mypy
  entry: bash -c "git diff --cached --name-only --diff-filter=ACMR | grep -E '(src|tests).*\.py$' | xargs mypy"
  language: system

Further restrict black's applicability
  .pre-commit-config.yaml
Due: none

Added connect_party with decorators
  src/fandango/io/__init__.py
Due: black, mypy

Move dependencies from Makefile to pyproject.toml, cleanup pyproject.toml
  Makefile
  pyproject.toml
Due: none

Repair broken pyproject.toml
  pyproject.toml
Due: none

fixed mypy
  docs/Fuzzing.md
  docs/Outputs.md
  evaluation/experiments/coverage/gif_experiment.py
  src/fandango/__init__.py
  src/fandango/cli/progress.py
  src/fandango/constraints/base.py
  src/fandango/constraints/fitness.py
  src/fandango/evolution/havoc.py
  src/fandango/evolution/population.py
  src/fandango/io/packetforecaster.py
  src/fandango/language/convert.py
  src/fandango/language/grammar.py
  src/fandango/language/parse.py
  src/fandango/language/parser/sa_fandango.py
  src/fandango/language/search.py
  src/fandango/language/server/language_server.py
  src/fandango/language/stdlib.py
  src/fandango/language/symbol.py
  src/fandango/language/tree.py
  src/fandango/language/utils/__init__.py
  src/fandango/language/utils/stream.pyx
  src/fandango/language/utils/token.pyx
  src/fandango/logger.py
  tests/test_api.py
  tests/test_visitor.py
Due: black, mypy

Extend Language Server docs with additional restrictions and section about manually running it
  docs/LanguageServer.md
Due: none

run black
  evaluation/experiments/smtp/smtp.fan
  evaluation/experiments/smtp/smtp.py
  src/fandango/io/__init__.py
Due: black, mypy

swapped dns grammar constraints
  evaluation/experiments/dns/dns.fan
  evaluation/experiments/dns/dns.py
  evaluation/experiments/smtp/smtp.fan
  src/fandango/evolution/population.py
  tests/resources/minimal_io.fan
Due: black, mypy

Fixed udp handling of SocketProtocolDecorator
  evaluation/experiments/dns/dns.fan
  evaluation/experiments/standardIO/std.fan
  src/fandango/io/__init__.py
  src/fandango/language/parse.py
Due: black, mypy

Fixed udp handling of SocketProtocolDecorator
  src/fandango/io/__init__.py
Due: black, mypy

Fixed udp handling of SocketProtocolDecorator
  evaluation/experiments/dns/dns.fan
Due: black

Added ConnectParty to smtp grammar
  evaluation/experiments/smtp/smtp.fan
Due: black

Renamed SocketProtocolDecorator to UdpTcpProtocolDecorator
  evaluation/experiments/dns/dns.fan
  src/fandango/io/__init__.py
Due: black, mypy

fixed all tests except rgb
  src/fandango/converters/__init__.py
  src/fandango/converters/antlr/__init__.py
  src/fandango/converters/bt/__init__.py
  src/fandango/converters/dtd/__init__.py
  src/fandango/converters/fan/__init__.py
  src/fandango/language/convert.py
  src/fandango/language/grammar.py
  src/fandango/language/tree.py
  tests/test_convert.py
  tests/test_parsing.py
  tests/test_star.py
Due: black, mypy

Added DEFAULT_PROTOCOL to ConnectParty
  src/fandango/io/__init__.py
Due: black, mypy

black
  src/fandango/io/__init__.py
Due: black, mypy

fixed all tests except rgb
  src/fandango/cli/__init__.py
  src/fandango/converters/__init__.py
  src/fandango/converters/antlr/__init__.py
  src/fandango/converters/bt/__init__.py
  src/fandango/converters/dtd/__init__.py
  src/fandango/converters/fan/__init__.py
  src/fandango/evolution/algorithm.py
  src/fandango/io/__init__.py
  src/fandango/language/grammar.py
  src/fandango/language/parse.py
  src/fandango/language/tree.py
Due: black, mypy

mypy works locally but not on github
  src/fandango/cli/__init__.py
Due: black, mypy

Path conditions:
  black: any of: ^(src|tests|evaluation)
  mypy: any of: (src|tests).*\.py$
