Repository fandango-fuzzer/fandango: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: black
        name: black
        entry: black .
        language: system
        files: ^(src|tests|evaluation)
-   repo: local
    hooks:
    - id: mypy
      name: mypy
      files: (src|tests).*\.py$
      entry: bash -c "git diff --cached --name-only --diff-filter=ACMR | grep -E '(src|tests).*\.py$' | xargs mypy"
      language: system

made parser
  src/fandango/language/cpp_parser/FandangoParser.cpp
  src/fandango/language/cpp_parser/FandangoParser.h
  src/fandango/language/cpp_parser/FandangoParser.interp
  src/fandango/language/parser/FandangoParser.interp
  src/fandango/language/parser/FandangoParser.py
  src/fandango/language/parser/sa_fandango.py
Due: black, mypy

More parsing tests
  tests/resources/indent.fan
Due: black

Fix: handle end-of-line backslashes correctly
  language/FandangoLexer.g4
  src/fandango/language/cpp_parser/FandangoLexer.cpp
  src/fandango/language/cpp_parser/FandangoLexer.interp
  src/fandango/language/parser/FandangoLexer.interp
  src/fandango/language/parser/FandangoLexer.py
  tests/resources/backslash.fan
Due: black, mypy

fixed star selection
  language/FandangoParser.g4
  src/fandango/language/cpp_parser/FandangoParser.cpp
  src/fandango/language/cpp_parser/FandangoParser.h
  src/fandango/language/cpp_parser/FandangoParser.interp
  src/fandango/language/parser/FandangoParser.interp
  src/fandango/language/parser/FandangoParser.py
Due: black, mypy

ignore sa_fandango.py for mypy
  .github/workflows/code-checks.yml
Due: none

Language update
  docs/Language.md
  docs/fandango.fan
Due: none

Doc fix
  docs/Language.md
Due: none

Improve handling of None
  src/fandango/__init__.py
Due: black, mypy

Make infinite mode available in API, deprecate Fandango.evolve
  src/fandango/__init__.py
  src/fandango/cli/__init__.py
  src/fandango/evolution/algorithm.py
  tests/test_api.py
  tests/test_cli.py
  tests/test_grammar.py
  tests/test_msg_exchange.py
  tests/test_optimizer.py
  tests/test_softconstraint.py
Due: black, mypy

Revert deprecation to be compatible with python 3.11
  src/fandango/evolution/algorithm.py
Due: black, mypy

Improve module splitting
  src/fandango/__init__.py
  src/fandango/api.py
  src/fandango/cli/__init__.py
  src/fandango/errors.py
  src/fandango/evolution/algorithm.py
  src/fandango/evolution/population.py
  src/fandango/io/__init__.py
  src/fandango/io/packetforecaster.py
  src/fandango/language/convert.py
  src/fandango/language/grammar.py
  src/fandango/language/parse.py
  src/fandango/language/tree.py
Due: black, mypy

Workaround for current bugs
  docs/Outputs.md
  docs/Paths.md
Due: none

Fix: exclude generated files properly from statistics and credits
  Makefile
Due: none

Renamed 3_party_io to three_party_io to mnake mypy happy
  evaluation/experiments/three_party_io/3_party.fan
  evaluation/experiments/three_party_io/3_party_io.fan
  evaluation/experiments/three_party_io/3_party_io.py
  evaluation/experiments/three_party_io/__init__.py
  evaluation/experiments/three_party_io/flask_server_a.py
  evaluation/experiments/three_party_io/flask_server_b.py
Due: black

Fixed mypy issues
  src/fandango/converters/antlr/ANTLRFandangoConverter.py
Due: black, mypy

Excluded more generated .py files
  Makefile
Due: none

Included mypy rules
  pyproject.toml
Due: none

Fix command line arg handling
  src/fandango/api.py
  src/fandango/cli/__init__.py
Due: black, mypy

Made star syntax official, hoping for remaining bugs to be fixed
  docs/Paths.md
Due: none

Commented out whitebox testing (won't make it into 1.0)
  docs/_toc.yml
Due: none
