Repository fandango-fuzzer/fandango: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy

black:
  name: black
  entry: black .
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system

Introduce more gmutator mutations
  src/fandango/language/grammar/nodes/node.py
  src/fandango/language/grammar/nodes/terminal.py
Due: black, mypy

Add direct access to TreeValue contents again, while producing a deprecation warning
  src/fandango/errors.py
  src/fandango/language/parse.py
  src/fandango/language/symbols/terminal.py
  src/fandango/language/tree.py
  src/fandango/language/tree_value.py
  tests/conftest.py
  tests/test_fstrings.py
  tests/test_grammar.py
  tests/test_tree_value.py
Due: black, mypy

Also build book in CI, without deploying it
  .github/workflows/deploy-book.yml
Due: none

Update upload-articact/download-artifact version
  .github/workflows/deploy-book.yml
Due: none

Further generalize TreeValue hack
  src/fandango/language/tree.py
  src/fandango/language/tree_value.py
  tests/test_tree_value.py
Due: black, mypy

Random minor bugs
  src/fandango/cli/__init__.py
  src/fandango/constraints/base.py
  src/fandango/constraints/fitness.py
  src/fandango/language/parse.py
  src/fandango/language/search.py
  src/fandango/language/symbols/symbol.py
Due: black, mypy

Random minor bugs
  docs/Generators.md
  docs/binary-rep.fan
Due: none

Fix book
  docs/Constraints.md
  docs/Outputs.md
  docs/Paths.md
  docs/iso8601.py
  src/fandango/io/packetforecaster.py
  src/fandango/io/packetparser.py
  src/fandango/language/grammar/grammar.py
  src/fandango/language/grammar/parser/parse_state.py
  src/fandango/language/search.py
  src/fandango/language/symbols/slice.py
  src/fandango/language/tree.py
Due: black, mypy

Parser tests passing again
  src/fandango/language/grammar/parser/iterative_parser.py
Due: black, mypy

Fix tests
  .pre-commit-config.yaml
  tests/test_grammar.py
Due: black, mypy

Clean up iterative parser code
  src/fandango/language/grammar/parser/iterative_parser.py
Due: black, mypy

Remove beartype restrictions
  src/fandango/beartype.py
  src/fandango/language/grammar/grammar.py
  src/fandango/language/grammar/node_visitors/disambiguator.py
  src/fandango/language/grammar/node_visitors/node_replacer.py
  src/fandango/language/grammar/node_visitors/node_visitor.py
  src/fandango/language/grammar/nodes/alternative.py
  src/fandango/language/grammar/nodes/char_set.py
  src/fandango/language/grammar/nodes/concatenation.py
  src/fandango/language/grammar/nodes/node.py
  src/fandango/language/grammar/nodes/non_terminal.py
  src/fandango/language/grammar/nodes/repetition.py
  src/fandango/language/grammar/nodes/terminal.py
  src/fandango/language/grammar/parser/parser.py
  tests/test_cli.py
Due: black, mypy

Clean up iterative parser code
  src/fandango/language/grammar/parser/parser.py
Due: black, mypy

Refactoring
  src/fandango/language/tree_value.py
  tests/test_tree_value.py
Due: black, mypy

Clean up iterative parser code
  tests/test_cli.py
Due: black, mypy

Increase testing speed
  tests/test_havoc.py
Due: black, mypy

Added party reset
  src/fandango/evolution/algorithm.py
  src/fandango/io/__init__.py
Due: black, mypy

Party reset tested with smtp
  evaluation/experiments/smtp/smtp.fan
  evaluation/experiments/smtp/smtp.py
Due: black

Improve tests
  tests/test_tree_value.py
Due: black, mypy

Calculate solutions_in_generation
  src/fandango/evolution/algorithm.py
Due: black, mypy

Path conditions:
  black: any of: ^(src|tests|evaluation).*\.py$, but not: (?x)^(
    src/fandango/language/parser/Parser.*\.py|
    src/fandango/language/parser/sa_fandango\.py|
    src/fandango/converters/antlr/ANTLRv4.*\.py
)$

  mypy: any of: ^(src|tests).*\.py$, but not: (?x)^(
    src/fandango/language/parser/Parser.*\.py|
    src/fandango/language/parser/sa_fandango\.py|
    src/fandango/converters/antlr/ANTLRv4.*\.py
)$

