Repository fandango-fuzzer/fandango: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: black
        name: black
        entry: black .
        language: system
        files: ^(src|tests|evaluation).*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/Parser.*\.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$
-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        files: ^(src|tests).*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/Parser.*\.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$
        entry: mypy
        language: system

Minor changes according to review by @joszamama
  docs/DerivationTree.md
  dummy.fan
  evaluation/experiments/dns/dns.fan
  evaluation/experiments/dune/test.py
  evaluation/experiments/simple_io/simple_io.py
  evaluation/experiments/ssl/ssl_experiment.py
  evaluation/experiments/three_party_io/3_party_io.py
  src/fandango/constraints/base.py
  src/fandango/constraints/fitness.py
  src/fandango/constraints/predicates.py
  src/fandango/evolution/mutation.py
  src/fandango/evolution/population.py
  src/fandango/io/packetforecaster.py
  src/fandango/language/__init__.py
  src/fandango/language/convert.py
  src/fandango/language/grammar.py
  src/fandango/language/parse.py
  src/fandango/language/search.py
  src/fandango/language/symbol/__init__.py
  src/fandango/language/symbols/__init__.py
  src/fandango/language/symbols/non_terminal.py
  src/fandango/language/symbols/slice.py
  src/fandango/language/symbols/symbol.py
  src/fandango/language/symbols/terminal.py
  src/fandango/language/tree.py
  tests/conftest.py
  tests/test_constraints.py
  tests/test_forecaster.py
  tests/test_fstrings.py
  tests/test_grammar.py
  tests/test_language.py
  tests/test_parsing.py
  tests/test_searches.py
  tests/test_slices.py
  tests/test_star.py
Due: black, mypy

fix: solutions for finite.fan
  docs/Regexes.md
Due: none

feat: new release
  pyproject.toml
Due: none

Update README.md
  README.md
Due: none

Fix tests
  tests/test_forecaster.py
  tests/test_parsing.py
Due: black, mypy

Remove redundant and non-working debugging logic
  tests/test_forecaster.py
Due: black, mypy

Improve error message in tests
  tests/test_cli.py
Due: black, mypy

Initial extractions
  src/fandango/constraints/base.py
  src/fandango/io/packetforecaster.py
  src/fandango/language/convert.py
  src/fandango/language/grammar/__init__.py
  src/fandango/language/grammar/grammar_settings.py
  src/fandango/language/grammar/has_settings.py
  src/fandango/language/grammar/node_visitors/disambiguator.py
  src/fandango/language/grammar/node_visitors/message_nesting_detector.py
  src/fandango/language/grammar/node_visitors/node_replacer.py
  src/fandango/language/grammar/node_visitors/node_visitor.py
  src/fandango/language/grammar/node_visitors/packet_truncator.py
  src/fandango/language/grammar/node_visitors/symbol_finder.py
  src/fandango/language/grammar/nodes/__init__.py
  src/fandango/language/grammar/nodes/alternative.py
  src/fandango/language/grammar/nodes/char_set.py
  src/fandango/language/grammar/nodes/concatenation.py
  src/fandango/language/grammar/nodes/node.py
  src/fandango/language/grammar/nodes/non_terminal.py
  src/fandango/language/grammar/nodes/repetition.py
  src/fandango/language/grammar/nodes/terminal.py
  src/fandango/language/parse.py
  tests/test_grammar_settings.py
  tests/test_softconstraint.py
Due: black, mypy

More extractions
  src/fandango/io/packetforecaster.py
  src/fandango/language/grammar/__init__.py
  src/fandango/language/grammar/column.py
  src/fandango/language/grammar/literal_generator.py
  src/fandango/language/grammar/parse_state.py
Due: black, mypy

Final extractions
  src/fandango/api.py
  src/fandango/cli/__init__.py
  src/fandango/constraints/base.py
  src/fandango/evolution/algorithm.py
  src/fandango/evolution/crossover.py
  src/fandango/evolution/population.py
  src/fandango/io/packetforecaster.py
  src/fandango/io/packetparser.py
  src/fandango/language/__init__.py
  src/fandango/language/convert.py
  src/fandango/language/grammar/__init__.py
  src/fandango/language/grammar/grammar.py
  src/fandango/language/grammar/iterative_parser.py
  src/fandango/language/grammar/node_visitors/disambiguator.py
  src/fandango/language/grammar/node_visitors/message_nesting_detector.py
  src/fandango/language/grammar/node_visitors/packet_truncator.py
  src/fandango/language/grammar/nodes/alternative.py
  src/fandango/language/grammar/nodes/char_set.py
  src/fandango/language/grammar/nodes/concatenation.py
  src/fandango/language/grammar/nodes/node.py
  src/fandango/language/grammar/nodes/non_terminal.py
  src/fandango/language/grammar/nodes/repetition.py
  src/fandango/language/grammar/nodes/terminal.py
  src/fandango/language/grammar/parser.py
  src/fandango/language/grammar/parser_tree.py
  src/fandango/language/parse.py
  src/fandango/language/tree.py
  tests/test_grammar_settings.py
  tests/test_language.py
  tests/test_parsing.py
  tests/test_slices.py
  tests/test_star.py
Due: black, mypy

Adjust eval
  evaluation/experiments/dns/dns.fan
  evaluation/experiments/dune/test.py
  src/fandango/io/packetforecaster.py
Due: black, mypy

Fixed tar grammar
  evaluation/vs_isla/run_evaluation.py
  evaluation/vs_isla/tar_evaluation/tar.fan
Due: black

Move files around according to oral review by @alex9849
  src/fandango/io/packetforecaster.py
  src/fandango/io/packetparser.py
  src/fandango/language/grammar/grammar.py
  src/fandango/language/grammar/parser/column.py
  src/fandango/language/grammar/parser/iterative_parser.py
  src/fandango/language/grammar/parser/parse_state.py
  src/fandango/language/grammar/parser/parser.py
  src/fandango/language/grammar/parser/parser_tree.py
  tests/test_parsing.py
Due: black, mypy

Implement GMutator (1)
  language/FandangoLexer.g4
  language/FandangoParser.g4
  src/fandango/language/cpp_parser/FandangoLexer.cpp
  src/fandango/language/cpp_parser/FandangoLexer.h
  src/fandango/language/cpp_parser/FandangoLexer.interp
  src/fandango/language/cpp_parser/FandangoLexer.tokens
  src/fandango/language/cpp_parser/FandangoParser.cpp
  src/fandango/language/cpp_parser/FandangoParser.h
  src/fandango/language/cpp_parser/FandangoParser.interp
  src/fandango/language/cpp_parser/FandangoParser.tokens
  src/fandango/language/grammar/nodes/node.py
  src/fandango/language/grammar/nodes/non_terminal.py
  src/fandango/language/grammar/nodes/repetition.py
  src/fandango/language/parser/FandangoLexer.interp
  src/fandango/language/parser/FandangoLexer.py
  src/fandango/language/parser/FandangoLexer.tokens
  src/fandango/language/parser/FandangoParser.interp
  src/fandango/language/parser/FandangoParser.py
  src/fandango/language/parser/FandangoParser.tokens
  tests/test_structural_out_of_grammar_mutation.py
Due: black, mypy

More Gmutator impls
  src/fandango/language/grammar/grammar.py
  src/fandango/language/grammar/nodes/__init__.py
  src/fandango/language/grammar/nodes/node.py
  src/fandango/language/grammar/nodes/non_terminal.py
  src/fandango/language/grammar/nodes/repetition.py
  src/fandango/language/grammar/nodes/terminal.py
  tests/test_cli.py
  tests/test_softconstraint.py
  tests/test_structural_out_of_grammar_mutation.py
Due: black, mypy

Introduce Gmutator (2)
  src/fandango/language/grammar/nodes/alternative.py
  src/fandango/language/grammar/nodes/char_set.py
  src/fandango/language/grammar/nodes/concatenation.py
  src/fandango/language/grammar/nodes/node.py
  src/fandango/language/grammar/nodes/non_terminal.py
  src/fandango/language/grammar/nodes/repetition.py
  src/fandango/language/grammar/nodes/terminal.py
  tests/test_cli.py
  tests/test_grammar_settings.py
Due: black, mypy

Introduce empty tree_value, more unit tests
  src/fandango/language/grammar/nodes/alternative.py
  src/fandango/language/grammar/nodes/non_terminal.py
  src/fandango/language/grammar/nodes/repetition.py
  src/fandango/language/grammar/nodes/terminal.py
  src/fandango/language/tree.py
  src/fandango/language/tree_value.py
  tests/test_structural_out_of_grammar_mutation.py
  tests/test_tree_value.py
Due: black, mypy

Introduce TreeValueType
  src/fandango/constraints/base.py
  src/fandango/io/packetforecaster.py
  src/fandango/language/grammar/grammar.py
  src/fandango/language/grammar/nodes/terminal.py
  src/fandango/language/grammar/parser/iterative_parser.py
  src/fandango/language/parse.py
  src/fandango/language/symbols/non_terminal.py
  src/fandango/language/symbols/symbol.py
  src/fandango/language/symbols/terminal.py
  src/fandango/language/tree.py
  src/fandango/language/tree_value.py
  tests/test_softconstraint.py
  tests/test_tree_value.py
Due: black, mypy

Introduce more gmutator mutations
  src/fandango/language/grammar/nodes/node.py
  src/fandango/language/grammar/nodes/terminal.py
Due: black, mypy

Fix distance_to_completion for Gmutator nodes
  src/fandango/language/grammar/nodes/alternative.py
  src/fandango/language/grammar/nodes/node.py
  src/fandango/language/grammar/nodes/non_terminal.py
  src/fandango/language/grammar/nodes/repetition.py
  src/fandango/language/grammar/nodes/terminal.py
Due: black, mypy
